# Ignorar arquivos binários e de configuração da Unity nas estatísticas

*.mat linguist-generated
*.meta linguist-generated
*.prefab linguist-generated
*.unity linguist-generated
*.asset linguist-generated
*.scm linguist-generated

# Forçar identificação correta de Shaders e Scripts
*.shader linguist-language=HLSL
*.cginc linguist-language=HLSL
*.m linguist-language=C#