# 1. Ignorar arquivos da Unity nas estatísticas (Remove o "Mathematica")
*.mat linguist-generated
*.meta linguist-generated
*.prefab linguist-generated
*.unity linguist-generated
*.asset linguist-generated
*.anim linguist-generated
*.controller linguist-generated

# 2. Arrumar Shaders
*.shader linguist-language=HLSL
*.cginc linguist-language=HLSL

# 3. Garantir que Scripts sejam C#
*.cs linguist-language=C#